.story-title {
  text-align: center;
  &__pretitle {
    font-size: 10px;
    padding-bottom: 5px;
  }
  &__main {
    font-size: 24px;
    font-weight: 700;
  }
}

// *** Mix for positioning *** 
.story__story-title {
  margin-top: -10px;
  margin-bottom: 30px;
}

@media (max-height: 899px) {
  .story__story-title {
    margin-bottom: 5px;
  }
}
