@import "../../styles/variables.less";

.information {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 785px;
  min-height: 100%;
  z-index: 2;
  padding-top: 60px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
  &__title {
    margin-bottom: 72px;
  }
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 575px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.paragraph {
  margin-bottom: 13px;
  color: @black;
  line-height: normal;
  &_long-margin {
    margin-bottom: 30px;
  }
  &_centered {
    text-align: center; 
  }
}

.link {
  color: @black;
  cursor: inherit;
  text-decoration: none;
  border-bottom: 1px @black dotted;
  &:hover {
    position: relative;
    left: -5px;
    padding: 0 3px 1px;
    pointer-events: stroke;
    margin-right: -10px;
    border: 2px solid @grey;
    border-radius: 6px;
  }
}

.no-wrap {
  white-space: nowrap;
}

// *** Mix for positioning *** 
.story__story-text {
  margin-bottom: 30px;
}

@media (min-width: 601px) and (max-height: 970px) { // Desktop browser window with narrow height
  .information__title {
    margin-bottom: 30px;
  }
}

@media (min-width: 601px) and (max-height: 840px) { // Even more narrow
  .story__story-text {
    margin-bottom: 10px;
  }
}

@media (max-width: 1440px) and (max-height: 900px) { // Macbook
  .information {
    width: 700px;
  }
}
@media (max-width: 1080px) { // iPad
  .information {
    width: initial;
    margin-bottom: 20px;
    padding: 50px 0 0;
  }
  .story {
    width: auto;
    max-width: 575px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) { // Smartphones
  .story {
    font-size: 14px;
  }
  .story__story-text {
    margin-bottom: 15px;
  }
  .information {
    padding-top: 30px;
    margin-bottom: 0;
  }
  .information__title {
    margin: 0 0 40px;
  }
  .paragraph_long-margin {
    margin-bottom: 13px;
  }
}
@media (min-width: 1920px) and (min-height: 1080px) { // Huge screens
    .information {
      height: 995px;
    }
}
