.title {
  width: 575px;
  height: 188px;
  background-size: 800px auto;
  background-image: url(../../../assets/sprite.svg);
  background-position: 0% 0%;
}

@media (max-width: 1440px) {
  .title {
    width: 400px;
    height: 135px;
    background-size: 557px auto;
  }
}
@media (max-width: 600px) {
  .title {
    width: 300px;
    height: 102px;
    background-size: 417px auto;
  }
}
