.background {
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  /* Set up proportionate scaling */
  height: 100%;
  width: auto;
  /* Image outline */
  outline: 20px solid white;
  outline-offset: -20px;
}
